
PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb+srv://tripod:Harsh@123@clustercgc.lb9dcwd.mongodb.net/?retryWrites=true&w=majority&appName=ClusterCGC


JWT_SECRET=karanharshyash

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# Email Configuration (Gmail)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
EMAIL_FROM=your-email@gmail.com

# Frontend URL
CLIENT_URL=http://localhost:3000
